In [1]:
import matplotlib
matplotlib.use('nbagg')
print(matplotlib.get_backend())

nbAgg

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
%matplotlib inline

In [3]:
df = pd.read_csv('teleCust1000t.csv')
df.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [4]:
df.describe()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
count,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.0220,35.526000,41.684000,0.495000,11.551000,77.535000,2.671000,10.987000,0.047000,0.517000,2.331000,2.487000
std,0.8162,21.359812,12.558816,0.500225,10.086681,107.044165,1.222397,10.082087,0.211745,0.499961,1.435793,1.120306
min,1.0000,1.000000,18.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.0000,17.000000,32.000000,0.000000,3.000000,29.000000,2.000000,3.000000,0.000000,0.000000,1.000000,1.000000
50%,2.0000,34.000000,40.000000,0.000000,9.000000,47.000000,3.000000,8.000000,0.000000,1.000000,2.000000,3.000000
75%,3.0000,54.000000,51.000000,1.000000,18.000000,83.000000,4.000000,17.000000,0.000000,1.000000,3.000000,3.000000
max,3.0000,72.000000,77.000000,1.000000,55.000000,1668.000000,5.000000,47.000000,1.000000,1.000000,8.000000,4.000000

In [31]:
X = df[['region', 'tenure','age', 'marital', 'address', 'income', 'ed', 'employ','retire', 'gender', 'reside']]
y = df['custcat']
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [37]:
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
for n in range(0,10):
    clf = KNeighborsClassifier(n_neighbors=n+1)
    clf.fit(X_train, y_train)
    print("for {} neighbor(s) train score: {:.2f} test score: {:.2f}"
                 .format(n+1, clf.score(X_train, y_train), clf.score(X_test, y_test)))
    #print("Train set Accuracy: ", metrics.accuracy_score(y_train, clf.predict(X_train)))
    #print("Test set Accuracy: ", metrics.accuracy_score(y_test, clf.predict(X_test)))

for 1 neighbor(s) train score: 1.00 test score: 0.24
for 2 neighbor(s) train score: 0.64 test score: 0.26
for 3 neighbor(s) train score: 0.59 test score: 0.29
for 4 neighbor(s) train score: 0.58 test score: 0.32
for 5 neighbor(s) train score: 0.56 test score: 0.34
for 6 neighbor(s) train score: 0.52 test score: 0.32
for 7 neighbor(s) train score: 0.51 test score: 0.33
for 8 neighbor(s) train score: 0.51 test score: 0.34
for 9 neighbor(s) train score: 0.51 test score: 0.32
for 10 neighbor(s) train score: 0.51 test score: 0.36